<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Serialization" description="Foundation Serialization">
          <targetDataStore physicalRootPath="C:\Projects\Helixexample\Foundation\Serialization\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Foundation.Serialization.Templates.Feature" database="master" path="/sitecore/templates/feature"/>
            <include name="Foundation.Serialization.Templates.Foundation" database="master" path="/sitecore/templates/foundation"/>
            <include name="Foundation.Serialization.Templates.Project" database="master" path="/sitecore/templates/project"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
