<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Serialization" description="Foundation Serialization">
          <targetDataStore physicalRootPath="C:\Projects\Helixexample\Foundation\Serialization\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!-- Templates -->
            <include name="Foundation.Serialization.Templates.Feature" database="master" path="/sitecore/templates/feature">
              <exclude children="true"/>
            </include>
            
            <include name="Foundation.Serialization.Templates.Foundation" database="master" path="/sitecore/templates/foundation">
              <exclude children="true"/>
            </include>
            
            <include name="Foundation.Serialization.Templates.Project" database="master" path="/sitecore/templates/project">
              <exclude children="true"/>
            </include>

            <!-- Layout -->
            <include name="Foundation.Serialization.Layouts.Project" database="master" path="/sitecore/layout/Layouts/Project">
              <exclude children="true"/>
            </include>


            <!-- Renderings -->
            <include name="Foundation.Serialization.Renderings.Feature" database="master" path="/sitecore/layout/Renderings/Feature">
              <exclude children="true"/>
            </include>
            <include name="Foundation.Serialization.Renderings.Foundation" database="master" path="/sitecore/layout/Renderings/Foundation">
              <exclude children="true"/>
            </include>
            <include name="Foundation.Serialization.Renderings.Project" database="master" path="/sitecore/layout/Renderings/Project">
              <exclude children="true"/>
            </include>


            <!-- Placeholder Settings -->
            <include name="Foundation.Serialization.PlaceholderSettings.Feature" database="master" path="/sitecore/layout/Placeholder Settings/Feature">
              <exclude children="true"/>
            </include>
            <include name="Foundation.Serialization.PlaceholderSettings.Project" database="master" path="/sitecore/layout/Placeholder Settings/Project">
              <exclude children="true"/>
            </include>

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
